body {
    color: green;
	resize: both;
	transform: scale(.8, .8);
	-ms-transform: scale(0.8, 0.8);
}

div{
	background-color: orange;
}

h2 {
	color: blue;
	transform: scale(.8, .8);
}

p {
	color: black;
	transform: scale(.9, .9);
}

a{

	font-weight: bold;

}
